<center>
  <body bgcolor='pink'>
<html style='font-family: futura;'>
<style>
a:link    {color:#800060; background-color:transparent; text-decoration:none}
a:visited {color:#ff33cc; background-color:transparent; text-decoration:none}
a:hover   {color:#ff0066; background-color:transparent; text-decoration:none}
a:active  {color:#b30047; background-color:transparent; text-decoration:none}
</style>
<h1><%= @player1.name %> has attacked <%= @player2.name %> with his vocals. And it hurt.</h1>
<a href='/players'>Back To Play</a>
</html>
